NODE_ENV=development
PORT=3001

DATABASE_URL=postgresql://postgres:210203@127.0.0.1:5432/movielegend_hrm?schema=public
JWT_ACCESS_SECRET="chuoi_1_tao_bang_lenh_crypto"
JWT_REFRESH_SECRET="chuoi_2_tao_bang_lenh_crypto"

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

CORS_ORIGINS=http://localhost:8081

SEED_ADMIN_EMAIL=
SEED_ADMIN_PHONE=
SEED_ADMIN_PASSWORD=

HTTPSMS_API_KEY=
HTTPSMS_FROM_PHONE=+84...
